# Practica limpieza de datos y analisis en Python

In [77]:
# importar principales librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [78]:
# Carga de archivo que vamos a utilizar
df = pd.read_excel("./Military+Expenditure.xlsx")

In [79]:
# revisión primeras 5 filas y columnas
df.head()

# tenemos columnas que estan vacias y debemos cambiar el titulo de las columnas por los datos de la fila numero 2

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Annual Military Expenditure Report,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
0,NaN,NaN,NaN,Annual Military Expenditure data in terms of c...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-,NaN,NaN,Continent,Country Code - Country,1960.0,1961.0,1962.0,1963.0,1964.0,...,2.009000e+03,2.010000e+03,2.011000e+03,2.012000e+03,2.013000e+03,2.014000e+03,2.015000e+03,2.016000e+03,2.017000e+03,2.018000e+03
3,NaN,NaN,NaN,Africa,AGO - (Angola),NaN,NaN,NaN,NaN,NaN,...,3.311193e+09,3.500795e+09,3.639496e+09,4.144635e+09,6.090752e+09,6.841864e+09,3.608299e+09,2.764055e+09,3.062873e+09,1.983614e+09
4,NaN,NaN,NaN,NaN,BDI - (Burundi),NaN,NaN,8420000.0,1012000.0,1162000.0,...,NaN,NaN,NaN,5.896666e+07,6.085950e+07,6.217729e+07,6.616458e+07,6.646284e+07,6.390868e+07,6.543660e+07

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 64 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Unnamed: 0                          1 non-null      object
 1   Unnamed: 1                          0 non-null      float64
 2   Unnamed: 2                          0 non-null      float64
 3   Annual Military Expenditure Report  7 non-null      object
 4   Unnamed: 4                          199 non-null    object
 5   Unnamed: 5                          64 non-null     float64
 6   Unnamed: 6                          69 non-null     float64
 7   Unnamed: 7                          74 non-null     float64
 8   Unnamed: 8                          76 non-null     float64
 9   Unnamed: 9                          76 non-null     float64
 10  Unnamed: 10                         81 non-null     object
 11  Unnamed: 11                         80 non-null     float64
 12  Unnamed: 12                         81 non-null     float64
 13  Unnamed: 13                         88 non-null     float64
 14  Unnamed: 14                         88 non-null     float64
 15  Unnamed: 15                         94 non-null     float64
 16  Unnamed: 16                         96 non-null     float64
 17  Unnamed: 17                         97 non-null     float64
 18  Unnamed: 18                         101 non-null    float64
 19  Unnamed: 19                         99 non-null     float64
 20  Unnamed: 20                         99 non-null     float64
 21  Unnamed: 21                         102 non-null    float64
 22  Unnamed: 22                         107 non-null    float64
 23  Unnamed: 23                         107 non-null    float64
 24  Unnamed: 24                         109 non-null    float64
 25  Unnamed: 25                         110 non-null    float64
 26  Unnamed: 26                         112 non-null    float64
 27  Unnamed: 27                         108 non-null    float64
 28  Unnamed: 28                         107 non-null    float64
 29  Unnamed: 29                         112 non-null    float64
 30  Unnamed: 30                         117 non-null    float64
 31  Unnamed: 31                         113 non-null    float64
 32  Unnamed: 32                         116 non-null    float64
 33  Unnamed: 33                         113 non-null    float64
 34  Unnamed: 34                         113 non-null    float64
 35  Unnamed: 35                         116 non-null    float64
 36  Unnamed: 36                         118 non-null    float64
 37  Unnamed: 37                         125 non-null    float64
 38  Unnamed: 38                         137 non-null    float64
 39  Unnamed: 39                         140 non-null    float64
 40  Unnamed: 40                         138 non-null    float64
 41  Unnamed: 41                         140 non-null    float64
 42  Unnamed: 42                         142 non-null    float64
 43  Unnamed: 43                         137 non-null    float64
 44  Unnamed: 44                         139 non-null    float64
 45  Unnamed: 45                         143 non-null    float64
 46  Unnamed: 46                         144 non-null    float64
 47  Unnamed: 47                         147 non-null    float64
 48  Unnamed: 48                         152 non-null    float64
 49  Unnamed: 49                         152 non-null    float64
 50  Unnamed: 50                         154 non-null    float64
 51  Unnamed: 51                         150 non-null    float64
 52  Unnamed: 52                         148 non-null    float64
 53  Unnamed: 53                         154 non-null    float64
 54  Unnamed: 54                         150 non-null    float64
 55  Unnamed: 55                         149 non-null    float64
 56  Unnamed: 56                         147 non-null    float64
 57  Unnamed: 57                         152 non-null    float64
 58  Unnamed: 58                         154 non-null    float64
 59  Unnamed: 59                         155 non-null    float64
 60  Unnamed: 60                         150 non-null    float64
 61  Unnamed: 61                         150 non-null    float64
 62  Unnamed: 62                         149 non-null    float64
 63  Unnamed: 63                         148 non-null    float64
dtypes: float64(60), object(4)
memory usage: 100.6+ KB

# Limpieza de filas y columnas vacias

In [81]:
# borramos las primeras 2 filas y las primeras 3 columnas del dataframe
df = df.iloc[2:,3:]

In [82]:
df.head()

,Annual Military Expenditure Report,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,...,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
2,Continent,Country Code - Country,1960.000,1961.000,1962.000,1963.000,1964.000,1965,1966.000,1967.000,...,2.009000e+03,2.010000e+03,2.011000e+03,2.012000e+03,2.013000e+03,2.014000e+03,2.015000e+03,2.016000e+03,2.017000e+03,2.018000e+03
3,Africa,AGO - (Angola),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.311193e+09,3.500795e+09,3.639496e+09,4.144635e+09,6.090752e+09,6.841864e+09,3.608299e+09,2.764055e+09,3.062873e+09,1.983614e+09
4,NaN,BDI - (Burundi),NaN,NaN,8420000.000,1012000.000,1162000.000,2153481.481,2286857.143,2376000.000,...,NaN,NaN,NaN,5.896666e+07,6.085950e+07,6.217729e+07,6.616458e+07,6.646284e+07,6.390868e+07,6.543660e+07
5,NaN,BEN - (Benin),1301005.322,2173203.947,2734537.618,2963071.799,3803662.454,3994923.713,3724387.206,3910553.209,...,NaN,NaN,NaN,7.822309e+07,8.600316e+07,9.299071e+07,9.089609e+07,7.958157e+07,1.161428e+08,9.021243e+07
6,NaN,BFA - (Burkina Faso),1268378.230,1643154.204,4901760.716,5281287.753,5358593.135,3509330.33,3907553.790,3695106.930,...,1.273333e+08,1.237005e+08,1.388509e+08,1.477297e+08,1.661363e+08,1.771670e+08,1.479347e+08,1.494674e+08,1.910658e+08,3.124676e+08

# reemplazar head de las columnas

In [83]:
# reemplazamos el nombre de las columnas por los datos de la primera fila
df.columns = df.iloc[0]

In [84]:
# eliminamos la primera fila (que es el titulo de las columnas)
df = df[1:]

In [85]:
df.head()

2,Continent,Country Code - Country,1960.0,1961.0,1962.0,1963.0,1964.0,1965,1966.0,1967.0,...,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0
3,Africa,AGO - (Angola),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.311193e+09,3.500795e+09,3.639496e+09,4.144635e+09,6.090752e+09,6.841864e+09,3.608299e+09,2.764055e+09,3.062873e+09,1.983614e+09
4,NaN,BDI - (Burundi),NaN,NaN,8420000.000,1012000.000,1162000.000,2153481.481,2286857.143,2376000.000,...,NaN,NaN,NaN,5.896666e+07,6.085950e+07,6.217729e+07,6.616458e+07,6.646284e+07,6.390868e+07,6.543660e+07
5,NaN,BEN - (Benin),1301005.322,2173203.947,2734537.618,2963071.799,3803662.454,3994923.713,3724387.206,3910553.209,...,NaN,NaN,NaN,7.822309e+07,8.600316e+07,9.299071e+07,9.089609e+07,7.958157e+07,1.161428e+08,9.021243e+07
6,NaN,BFA - (Burkina Faso),1268378.230,1643154.204,4901760.716,5281287.753,5358593.135,3509330.33,3907553.790,3695106.930,...,1.273333e+08,1.237005e+08,1.388509e+08,1.477297e+08,1.661363e+08,1.771670e+08,1.479347e+08,1.494674e+08,1.910658e+08,3.124676e+08
7,NaN,BWA - (Botswana),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.301473e+08,3.486727e+08,3.633245e+08,3.268742e+08,3.064386e+08,3.462815e+08,3.837399e+08,5.144634e+08,5.224305e+08,5.294810e+08

# rellenar Columna continente con Forward fill

In [86]:
df["Continent"] = df["Continent"].ffill()

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 3 to 200
Data columns (total 61 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Continent               198 non-null    object
 1   Country Code - Country  198 non-null    object
 2   1960.0                  63 non-null     float64
 3   1961.0                  68 non-null     float64
 4   1962.0                  73 non-null     float64
 5   1963.0                  75 non-null     float64
 6   1964.0                  75 non-null     float64
 7   1965                    79 non-null     object
 8   1966.0                  79 non-null     float64
 9   1967.0                  80 non-null     float64
 10  1968.0                  87 non-null     float64
 11  1969.0                  87 non-null     float64
 12  1970.0                  93 non-null     float64
 13  1971.0                  95 non-null     float64
 14  1972.0                  96 non-null     float64
 15  1973.0                  100 non-null    float64
 16  1974.0                  98 non-null     float64
 17  1975.0                  98 non-null     float64
 18  1976.0                  101 non-null    float64
 19  1977.0                  106 non-null    float64
 20  1978.0                  106 non-null    float64
 21  1979.0                  108 non-null    float64
 22  1980.0                  109 non-null    float64
 23  1981.0                  111 non-null    float64
 24  1982.0                  107 non-null    float64
 25  1983.0                  106 non-null    float64
 26  1984.0                  111 non-null    float64
 27  1985.0                  116 non-null    float64
 28  1986.0                  112 non-null    float64
 29  1987.0                  115 non-null    float64
 30  1988.0                  112 non-null    float64
 31  1989.0                  112 non-null    float64
 32  1990.0                  115 non-null    float64
 33  1991.0                  117 non-null    float64
 34  1992.0                  124 non-null    float64
 35  1993.0                  136 non-null    float64
 36  1994.0                  139 non-null    float64
 37  1995.0                  137 non-null    float64
 38  1996.0                  139 non-null    float64
 39  1997.0                  141 non-null    float64
 40  1998.0                  136 non-null    float64
 41  1999.0                  138 non-null    float64
 42  2000.0                  142 non-null    float64
 43  2001.0                  143 non-null    float64
 44  2002.0                  146 non-null    float64
 45  2003.0                  151 non-null    float64
 46  2004.0                  151 non-null    float64
 47  2005.0                  153 non-null    float64
 48  2006.0                  149 non-null    float64
 49  2007.0                  147 non-null    float64
 50  2008.0                  153 non-null    float64
 51  2009.0                  149 non-null    float64
 52  2010.0                  148 non-null    float64
 53  2011.0                  146 non-null    float64
 54  2012.0                  151 non-null    float64
 55  2013.0                  153 non-null    float64
 56  2014.0                  154 non-null    float64
 57  2015.0                  149 non-null    float64
 58  2016.0                  149 non-null    float64
 59  2017.0                  148 non-null    float64
 60  2018.0                  147 non-null    float64
dtypes: float64(58), object(3)
memory usage: 94.5+ KB

# Limpiar Country Code- Country

In [88]:
df.head()

2,Continent,Country Code - Country,1960.0,1961.0,1962.0,1963.0,1964.0,1965,1966.0,1967.0,...,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0
3,Africa,AGO - (Angola),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.311193e+09,3.500795e+09,3.639496e+09,4.144635e+09,6.090752e+09,6.841864e+09,3.608299e+09,2.764055e+09,3.062873e+09,1.983614e+09
4,Africa,BDI - (Burundi),NaN,NaN,8420000.000,1012000.000,1162000.000,2153481.481,2286857.143,2376000.000,...,NaN,NaN,NaN,5.896666e+07,6.085950e+07,6.217729e+07,6.616458e+07,6.646284e+07,6.390868e+07,6.543660e+07
5,Africa,BEN - (Benin),1301005.322,2173203.947,2734537.618,2963071.799,3803662.454,3994923.713,3724387.206,3910553.209,...,NaN,NaN,NaN,7.822309e+07,8.600316e+07,9.299071e+07,9.089609e+07,7.958157e+07,1.161428e+08,9.021243e+07
6,Africa,BFA - (Burkina Faso),1268378.230,1643154.204,4901760.716,5281287.753,5358593.135,3509330.33,3907553.790,3695106.930,...,1.273333e+08,1.237005e+08,1.388509e+08,1.477297e+08,1.661363e+08,1.771670e+08,1.479347e+08,1.494674e+08,1.910658e+08,3.124676e+08
7,Africa,BWA - (Botswana),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.301473e+08,3.486727e+08,3.633245e+08,3.268742e+08,3.064386e+08,3.462815e+08,3.837399e+08,5.144634e+08,5.224305e+08,5.294810e+08

In [89]:
Country_name = df["Country Code - Country"].str.split("-", expand=True)

In [90]:
Country_name.head()

      0                1     2
3  AGO          (Angola)  None
4  BDI         (Burundi)  None
5  BEN           (Benin)  None
6  BFA    (Burkina Faso)  None
7  BWA        (Botswana)  None

In [91]:
Country_name.columns = ['Code Country', 'Country', 'Empty']

In [92]:
df = pd.concat([df, Country_name], axis=1)

In [93]:
df = df.drop(['Country Code - Country', 'Empty'], axis=1)

In [94]:
df

,Continent,1960.0,1961.0,1962.0,1963.0,1964.0,1965,1966.0,1967.0,1968.0,...,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,Code Country,Country
3,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.639496e+09,4.144635e+09,6.090752e+09,6.841864e+09,3.608299e+09,2.764055e+09,3.062873e+09,1.983614e+09,AGO,(Angola)
4,Africa,NaN,NaN,8420000.000,1012000.000,1162000.000,2153481.481,2286857.143,2376000.000,2590857.143,...,NaN,5.896666e+07,6.085950e+07,6.217729e+07,6.616458e+07,6.646284e+07,6.390868e+07,6.543660e+07,BDI,(Burundi)
5,Africa,1301005.322,2173203.947,2734537.618,2963071.799,3803662.454,3994923.713,3724387.206,3910553.209,4293821.825,...,NaN,7.822309e+07,8.600316e+07,9.299071e+07,9.089609e+07,7.958157e+07,1.161428e+08,9.021243e+07,BEN,(Benin)
6,Africa,1268378.230,1643154.204,4901760.716,5281287.753,5358593.135,3509330.33,3907553.790,3695106.930,3760628.522,...,1.388509e+08,1.477297e+08,1.661363e+08,1.771670e+08,1.479347e+08,1.494674e+08,1.910658e+08,3.124676e+08,BFA,(Burkina Faso)
7,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.633245e+08,3.268742e+08,3.064386e+08,3.462815e+08,3.837399e+08,5.144634e+08,5.224305e+08,5.294810e+08,BWA,(Botswana)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,Oceania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.419314e+07,1.106232e+08,1.051009e+08,1.123755e+08,9.984064e+07,7.905132e+07,7.190764e+07,6.059282e+07,PNG,(Papua New Guinea)
197,Oceania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TON,(Tonga)
198,Oceania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TUV,(Tuvalu)
199,Oceania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VUT,(Vanuatu)
200,Oceania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WSM,(Samoa)

In [95]:
df.columns.to_list()

['Continent',
 1960.0,
 1961.0,
 1962.0,
 1963.0,
 1964.0,
 1965,
 1966.0,
 1967.0,
 1968.0,
 1969.0,
 1970.0,
 1971.0,
 1972.0,
 1973.0,
 1974.0,
 1975.0,
 1976.0,
 1977.0,
 1978.0,
 1979.0,
 1980.0,
 1981.0,
 1982.0,
 1983.0,
 1984.0,
 1985.0,
 1986.0,
 1987.0,
 1988.0,
 1989.0,
 1990.0,
 1991.0,
 1992.0,
 1993.0,
 1994.0,
 1995.0,
 1996.0,
 1997.0,
 1998.0,
 1999.0,
 2000.0,
 2001.0,
 2002.0,
 2003.0,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0,
 2011.0,
 2012.0,
 2013.0,
 2014.0,
 2015.0,
 2016.0,
 2017.0,
 2018.0,
 'Code Country',
 'Country']

In [98]:
df = df[['Continent',
        'Code Country',
        'Country',
        1960.0,
        1961.0,
        1962.0,
        1963.0,
        1964.0,
        1965,
        1966.0,
        1967.0,
        1968.0,
        1969.0,
        1970.0,
        1971.0,
        1972.0,
        1973.0,
        1974.0,
        1975.0,
        1976.0,
        1977.0,
        1978.0,
        1979.0,
        1980.0,
        1981.0,
        1982.0,
        1983.0,
        1984.0,
        1985.0,
        1986.0,
        1987.0,
        1988.0,
        1989.0,
        1990.0,
        1991.0,
        1992.0,
        1993.0,
        1994.0,
        1995.0,
        1996.0,
        1997.0,
        1998.0,
        1999.0,
        2000.0,
        2001.0,
        2002.0,
        2003.0,
        2004.0,
        2005.0,
        2006.0,
        2007.0,
        2008.0,
        2009.0,
        2010.0,
        2011.0,
        2012.0,
        2013.0,
        2014.0,
        2015.0,
        2016.0,
        2017.0,
        2018.0]]

In [102]:
df

,Continent,Code Country,Country,1960.0,1961.0,1962.0,1963.0,1964.0,1965,1966.0,...,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0
3,Africa,AGO,(Angola),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.311193e+09,3.500795e+09,3.639496e+09,4.144635e+09,6.090752e+09,6.841864e+09,3.608299e+09,2.764055e+09,3.062873e+09,1.983614e+09
4,Africa,BDI,(Burundi),NaN,NaN,8420000.000,1012000.000,1162000.000,2153481.481,2286857.143,...,NaN,NaN,NaN,5.896666e+07,6.085950e+07,6.217729e+07,6.616458e+07,6.646284e+07,6.390868e+07,6.543660e+07
5,Africa,BEN,(Benin),1301005.322,2173203.947,2734537.618,2963071.799,3803662.454,3994923.713,3724387.206,...,NaN,NaN,NaN,7.822309e+07,8.600316e+07,9.299071e+07,9.089609e+07,7.958157e+07,1.161428e+08,9.021243e+07
6,Africa,BFA,(Burkina Faso),1268378.230,1643154.204,4901760.716,5281287.753,5358593.135,3509330.33,3907553.790,...,1.273333e+08,1.237005e+08,1.388509e+08,1.477297e+08,1.661363e+08,1.771670e+08,1.479347e+08,1.494674e+08,1.910658e+08,3.124676e+08
7,Africa,BWA,(Botswana),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.301473e+08,3.486727e+08,3.633245e+08,3.268742e+08,3.064386e+08,3.462815e+08,3.837399e+08,5.144634e+08,5.224305e+08,5.294810e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,Oceania,PNG,(Papua New Guinea),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.204817e+07,4.633562e+07,6.419314e+07,1.106232e+08,1.051009e+08,1.123755e+08,9.984064e+07,7.905132e+07,7.190764e+07,6.059282e+07
197,Oceania,TON,(Tonga),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,Oceania,TUV,(Tuvalu),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,Oceania,VUT,(Vanuatu),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,Oceania,WSM,(Samoa),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN